body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:wheat; 
}

body header h1 { 
    background-color:grey;
    color: black;
    text-align: center;
}

body header img {
    text-align: center;
}

body section h2 {
    text-align: center;
}

body aside h2 {
    text-align: center;
}

