body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:antiquewhite; 
    line-height: 1.5em;
}

body header h1 { 
    background-color:#555151;
    color:white;
    text-align: center;
}

body header img {
    text-align: center;
}

body section h2 {
    text-align: center;
}

body aside h2 {
    text-align: center;
}

main section ol {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

main section ol a {
    display: block;
    color: white;
    text-decoration: none;
    background-color:#555151;
    font-weight: bold;
    border: 5px solid black;
    padding: 20px;
    margin-bottom: 5px;
}

